.wb-sidebar-nav{
    width: 200px;
    height: 100vh;
    float: left;
    margin-right: 1rem;
    margin-left: 5rem;
}
.wb-sidebar-nav ul{
    list-style-type: none;
    padding: 0;
}
.wb-sidebar-nav li{
    padding: 10px;
}
.wb-right-side{
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
}
.wb-search-box{
    width: 100%;
    display: flex;
    align-items: center; 
}
.wb-bg-light-grey{
    background-color: lightgrey;
}
.wb-search-box .wb-rounded-corner {
    flex-grow: 1;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px;
    border: 1px solid lightgray;
}
.wb-search-box .wb-rounded-corner .wb-input{
    border:none;
    outline: none;
}
.wb-icon-gear,
.wb-icon-magnify{
    padding: 8px;
}
.wb-icon-gear{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.wb-search-tabs {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.wb-search-tabs .wb-horizontal-list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 0;
    flex-grow: 1;
}
.wb-search-tabs .wb-horizontal-list li {
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}
.wb-horizontal-list li:hover,
.wb-horizontal-list li:active{
    text-decoration: underline;
    text-decoration-color:rgb(0, 153, 255);
    text-decoration-thickness: 2px;
    text-underline-offset: 15px; 
    text-decoration-skip-ink: none;
}
.wb-head-img-box{
    padding-left: 20px;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;               
}
.wb-head-img-box .wb-head-img{
    position: relative;
}
.wb-head-img-box .wb-head-img img {
    width: 100%;
    height: auto;
    justify-content: start;
    object-fit: cover;
}
.wb-head-img-box .wb-head-img-text{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}
.wb-tuit{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    float:left;
}
.wb-tuit ul{
    padding: 0;
    list-style-type: none;
}
.wb-tuit div{
    padding: 10px; 
}
.wb-tuit .wb-category{
    color: gray;
}
.wb-tuit .wb-right-icon{
    float:right;
    margin-top: -20px;
    margin-right: 10px;
}

/* Codes below are for index.html */
.wb-b-page-container{
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}
.wb-b-this-page{
    background-color: rgb(22, 116, 239);
}
.wb-b-this-page-text{
    color: white;
}
.wb-b-link-text{
    padding-left: 5px;
}
.wb-b-nav-icon{
    padding-left: 10px;
}
.wb-b-search-icon{
    padding-left: 10px;
    padding-right: 8px;
    margin-top: 6px;
}
.wb-b-gear-icon{
    padding-left: 25px;
    font-size: 1.6em;
    color: rgb(6, 103, 230);
}
.wb-b-search-round-corner{
    border: solid;
    border-radius: 50px;
    border-width: 1px;
    overflow: hidden;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 2em;
}
.wb-b-nav-for-you{
    border: solid;
    border-color: gray;
    border-width: 1px;
}
.wb-b-nav-text{
    padding-left: 15px;
    padding-right: 15px;
}
.wb-b-avatar{
    width: 70%;
    height: auto;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.wb-b-tuit-container{
    margin-left: 1.2em;
    margin-right: 1.2em;
    padding-bottom: 0.5em;
    
}
.wb-b-tuit-channel-number,
.wb-b-tuit-time-stamp{
    color: gray;
    font-size: medium;
}
.wb-b-last-tuit{
    margin-bottom: 2em;
}
@media (max-width: 992px) {
    #tab-entertainment {
      display: none !important;
    }
}




